.container {
  color: #fff;
  /* header 80px + footer 80px */
  min-height: calc(100vh - 160px);
  /* background-color: rgb(40 40 40); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
