.container {
  padding: 50px 0;
  /* header 80px + footer 80px */
  min-height: calc(100vh - 162px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.wrapper {
  z-index: 2;
}