@font-face {
  font-family: "Playwrite";
  src:
    url("/fonts/Playwrite-degrund.woff2") format("woff2"),
    url("/fonts/Playwrite-degrund.woff") format("woff"),
    url("/fonts/Playwrite-degrund.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.page-container {
  display: flex;
  flex-direction: column;
  /* header 80px + footer 80px */
  min-height: calc(100vh - 160px);
  background-image: url("/assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.page-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.form-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.form-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: rgba(245, 240, 255, 0.9);
  border: 1px solid #8b5cf6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 3;
  text-align: center;
}

.form-container h2 {
  font-family: "Playwrite", sans-serif;
  color: #2d2d2d;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: "Playwrite", sans-serif;
  color: #2d2d2d;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font-family: "Playwrite", sans-serif;
}

.form-group.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-group.checkbox input {
  width: min-content;
}

.form-group.checkbox label {
  margin: 0;
}

.form-group input.input-error {
  border-color: #ff4d4d;
}

.error-field {
  color: #ff9999;
  font-family: "Playwrite", sans-serif;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

.server-error {
  margin: 7px 0 15px;
  padding: 5px 0;
  background-color: rgba(67, 11, 11, 0.8);
}

.submit-button {
  width: 100%;
  padding: 10px;
  color: #ffffff;
  background-color: #4a06a9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  font-family: "Playwrite", sans-serif;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: auto;
}

.submit-button:not(:disabled):hover {
  background-color: #280057;
}

.register-link {
  margin-top: 15px;
  text-align: center;
  font-family: "Playwrite", sans-serif;
  font-size: 14px;
  color: #2d2d2d;
}

.register-link a {
  color: #4a06a9;
  text-decoration: none;
  font-weight: 500;
}

.register-link a:hover {
  text-decoration: underline;
}
