html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Playwrite";
  src:
    url("/fonts/Playwrite-degrund.woff2") format("woff2"),
    url("/fonts/Playwrite-degrund.woff") format("woff"),
    url("/fonts/Playwrite-degrund.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}